@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo__figure {
    max-width: theme("width.32");
  }

  @media (min-width: theme("screens.xl")) {
    .logo__figure {
      max-width: theme("width.52");
    }
  }

  @media (min-width: theme("screens.xl")) {
    .hero {
      display: grid;
      grid-template-columns: 56% 1fr;
      gap: theme("gap.6");
    }
  }

  @media (min-width: theme("screens.xl")) {
    .hero__text {
      --flow-space: 3rem;
    }
  }

  .hero__title {
    font-size: theme("fontSize.2xl");
  }

  @media (min-width: theme("screens.xl")) {
    .hero__title {
      font-size: theme("fontSize.4xl");
    }
  }

  .hero__copy {
    --flow-space: 1rem;
    font-size: theme("fontSize.lg");
  }

  .btn {
    background-color: white;
    color: theme("colors.p-violet");
    display: inline-flex;
    font-size: theme("fontSize.sm");
    padding-inline: theme("padding.20");
    padding-block: theme("padding.3");
    border-radius: theme("borderRadius.full");
  }

  .hero__btn {
    --flow-space: 1.75rem;
    filter: drop-shadow(0 0.1rem 0.25rem rgba(0 0 0 / 0.5));
  }

  .hero__btn:hover,
  .hero__btn:focus-visible {
    background-color: theme("colors.p-soft-magenta");
  }

  .hero__btn:active {
    position: relative;
    top: 0.5rem;
    filter: none;
  }

  @media (min-width: theme("screens.xl")) {
    .hero__btn {
      padding-inline: theme("padding.16");
      padding-block: theme("padding[3.5]");
      font-size: theme("fontSize.lg");
      filter: drop-shadow(0 0.15rem 0.35rem rgba(0 0 0 / 0.75));
    }
  }

  .social-icons-figure {
    border: solid 0.0625rem;
    border-radius: theme("borderRadius.full");
    width: theme("width.8");
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .social-icons-figure:hover,
  .social-icons-figure:focus-visible {
    color: theme("colors.p-soft-magenta");
  }

  @media (min-width: theme("screens.xl")) {
    .social-icons-figure {
      width: theme("width.10");
    }
  }

  @media (min-width: theme("screens.xl")) {
    .social-icons {
      margin-left: auto;
      position: relative;
      bottom: 2rem;
    }
  }

  .social-icons-figure > i {
    font-style: normal;
  }
}

@layer utilities {
  .flow > :not(:first-child) {
    margin-top: var(--flow-space, 1.5rem);
  }
}

body {
  --flow-space: 4rem;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
}

@media (min-width: theme("screens.xl")) {
  body {
    background-image: url(images/bg-desktop.svg);
  }
}

main {
  --flow-space: 3.5rem;
}

@media (min-width: theme("screens.xl")) {
  main {
    --flow-space: 5.5rem;
  }
}

body > * {
  max-width: theme("maxWidth.7xl");
  margin-inline: auto;
}
